.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
    
.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;        
    text-align: center;
    color: $title-text-color;
}

.section--no-padding {
    padding-top: 0;
} 

.section--over-bcgr {
    background-color: $secondary-bg-color;
}
